
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.obj
*.ilk
*.pdb
*.tlog
*.idb
*.pdb
*.log
*.exe.recipe
*.iobj
*.ipdb
*.exp
/MixieEngine/x64/
MixieEngine/Engines/SimpleEngine/SimpEngine/x64/Release/SimpEngine.lib.recipe
MixieEngine/Engines/SimpleEngine/SimpEngine/x64/Debug/SimpEngine.vcxproj.FileListAbsolute.txt
MixieEngine/Engines/SimpleEngine/SimpEngine/x64/Debug/SimpEngine.lib.recipe
MixieEngine/Engines/SimpleEngine/SimpEditor/x64/Debug/SimpEditor.vcxproj.FileListAbsolute.txt
