
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.obj
*.ilk
*.pdb
*.tlog
*.idb
*.pdb
*.log
*.exe.recipe
*.iobj
*.ipdb
*.exp
/MixieEngine/x64/
/MixieEngine/Engines/SimpleEngine/SimpEngine/x64/
MixieEngine/Engines/SimpleEngine/SimpEditor/x64/